@media screen and (min-width: 992px) {
    #informacoes {
      padding: 1em 3em;
    }
    .colunas-info {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
}

@media screen and (max-width: 768px) {
    input[type=text], input[type=tel]{
        width: 100%;
        margin-top: 0;
    }

    button {
        width: 100%;
    }

    .convidados-fotos {
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    }

    .sessao-descricao{
        background-image: url(/resources/imagens/bg-descricao-768.jpg);
    }

    .sessao-home-convidados{
        background-image:  url(/resources/imagens/bg-principal-768.jpg);
    }

    #home{
        margin-top: 9%;
        margin-bottom: 2%;
    }

    .img-logo{
        max-width: 60%;
    }

    .colunas-info {
    flex: 0 50%;
    max-width: 50%;
    }
}


@media screen and (max-width: 720px) {
    #cards {
        flex-direction: column;
    }

    #cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    #cards section.card:last-child {
        margin-bottom: 0;
    }

    #cards section.card button {
        font-size: 70%;
    }
}

@media (max-width: 425px) {
    html{
        font-size: 50%;
    }

    .sessao-home-convidados{
        background-image: url(/resources/imagens/bg-principal-320.jpg);
    }

    #home{
        margin-top: 9%;
        margin-bottom: 0px;
    }
    
    .img-logo{
        max-width: 70%;
    }
}
