@import url("https://fonts.googleapis.com/css?family=Inter");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

h2{
    margin: auto;
    margin-bottom: 30px;
    padding: 6px 30px;
    font-weight: 600;
    color: #FFFFFF;
    background: #1C1C1C;
    font-size: 2.8rem;
    text-align: center;
}

p{
    color: #FFFFFF;
    font-weight: 100;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.6em;
}

body{
    background-color: #91daeb;
}

.interface{
    font-family: "Inter";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.281);

    display: flex;
    /*align-items: center;*/
    flex-direction: column;
}

.sessao{
    max-width: 1200px;
    margin: auto;
    padding: 0px 5%;
    padding-bottom: 35px;
    padding-top: 35px;
}

.sessao-home-convidados{
    width: 100%;
    background-image:  url(/resources/imagens/bg-principal-1440.jpg);
}

#home{
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.img-logo{
    max-width: 40%;
}

#convidados{
    display: flex;
    flex-direction: column;
}

.convidados-fotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}
  
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.sessao-descricao{
    width: 100%;
    background-image: url(/resources/imagens/bg-descricao-1440.jpg);
}

#descricao{
    display: flex;
    flex-direction:  column;
}

.sessao-contagem{
    width: 100%;
    background-color: #1C1C1C;
}

#contagem{
    display: grid;
    flex-direction:  column;
}

.sessao-formulario{
    width: 100%;
    background-color: #9CDCE6;
}

#formulario{
    display: flex;
    flex-direction:  column;
}

* {
box-sizing: border-box;
}

.container{
    text-align: center;
}

.container input{
    display: block;
    margin: 0 auto;
}

.row{
    display: block;
    margin: 0 auto;
}

.col-75{
    margin-bottom: 12px;
}
input[type=text], input[type=tel] {
width: 40%;
padding: 1.9rem;
border: none;
resize: vertical;
}

input, button {
    font-size: 1.6rem;
}

button {
background-color: #1B5F69;
color: white;
border-radius: 5px;
cursor: pointer;
margin: 10px auto;
width: 20%;
padding: 1.6rem;
border: none;
resize: vertical;
}

button:hover {
background-color: #45a049;
}

body::-webkit-scrollbar {
    background: transparent;
}