@import url("https://fonts.googleapis.com/css?family=Inter");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

h2{
    margin: auto;
    margin-bottom: 2.25%;
    padding: 6px 30px;
    font-weight: 600;
    color: #FFFFFF;
    background: #1C1C1C;
    font-size: 2.6rem;
    text-align: center;
}

p{
    color: #FFFFFF;
    font-weight: 200;
    font-size: 1.8rem;
    text-align: center;
}

.interface{
    height: 100vh;
    font-family: "Inter";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;

    font-size: 1.6rem;

    display: flex;
    /*align-items: center;*/
    flex-direction: column;
}

.sessao{
    max-width: 1200px;
    margin: auto;

    padding: 2.25% 5%;
    padding-bottom: 2.50%;
}

.sessao-home{
    width: 100%;
    background-color: #9CDCE6;
}

#home{
    height: 477px;
}

.sessao-convidados{
    width: 100%;
    background-color: #9CDCE6;
}

#convidados{
    display: grid;
    flex-direction: column;
    align-items: center;
}

.convidados-fotos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));
  grid-gap: 1%;
  align-items: center;
}

.prel{
    height: 50rem;
    max-height: 270px;
}

#prel1 {
  background-color: #2FA8BB;
  
}

#prel2 {
  background-color: #258493;
  
}

#prel3 {
  background-color: #1B5F69;
  
}

#prel4 {
  background-color: #103B41;
}

.sessao-descricao{
    width: 100%;
    background-color: #FD955B;
}

#descricao{
    display: grid;
    flex-direction:  column;
}

.sessao-contagem{
    width: 100%;
    background-color: #1C1C1C;
}

#contagem{
    display: grid;
    flex-direction:  column;
}

.sessao-formulario{
    width: 100%;
    background-color: #9CDCE6;
}

#formulario{
    display: grid;
    flex-direction:  column;
}

.form{
    display: grid;
    flex-direction:  column;
    margin: auto;
    text-align: center;
}

.input-group{
    display: grid;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 100%;
}


.input-box{
    display: grid;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.input-box input{
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 1.4rem;
    padding: 1.4rem;
    margin: 0.5rem auto;
}

